
.container{
    max-width: 1020px;
    margin: 0 auto;
}

/* HEADER */

.site-header{
    color: #FFFFFF;
    background-color: #2d303a;
    text-transform: uppercase;
    font-family: "Lato", sans-serif;
}

.header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 32px 23px 32px 40px;    
}

.header-logo{   
    font-size: 24px;
}

.header-logo span{
    color: #ea676b;
}

.menu-link{
    margin-left: 22px; 
    font-size: 12px;
    color: #FFFFFF;
    text-decoration: none;
}

.menu-link::before{
    content: ".";
    position: relative;
    right: 11px;
    bottom: 2px;
    color: #FFFFFF;
    font-size: 18px;
    opacity: .2;
} 

.menu-list a:first-child::before{
    content: "";
   }

.menu-link:hover{
    cursor: pointer;
    color: #ea676b;
    text-decoration: underline;
    transition: all .3s ease-in-out;
}

.header-bottom{
    width: 100%;
    height: 6px;
    background-color: #323746;
}

/* SLIDER */

.section-slider{
    background-color: #f06c64;
}

.slider{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 53px 23px 83px 40px;
}

.slider-bottom{
    width: 100%;
    height: 6px;
    background-color: #ea676b;
}

.btn-left, .btn-right{
padding-top: 25px;
opacity: .3;
}

.btn-left:hover, .btn-right:hover{
   cursor: pointer;
   opacity: 1;
   transition: all .3s ease-in-out;
}

.turn{
    transform: rotate(90deg);
    margin-left: 19px;
}

.phone{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 215px;
    height: 459px;
    margin-right: 147px;
    background-color: #fff;
    border-radius: 27px;
    box-shadow: 25px 25px 0 rgba(0,0,0, .1); 
}

.cam{
    margin-top: 10px;
}

.speaker{
    width: 36px;
    height: 5px;
    margin: 10px 0 21px 0;
    background-color: #acacac;
    border-radius: 3px;
}

.screen{
    width: 193px;
    height: 335px;
    border: 3px solid #c6c6c6;
    background-image: url("./assets/screen-vertical.png");
    background-position: -10px -133px;
}

.btn-home{
    margin-top: 4px;
}

.screen-horizont{
    background-image: url("./assets/screen-horizontal.png");
    background-position: -117px -121px;
}

.shadow{
    box-shadow: 25px -25px rgba(0,0,0, .1); 
} 

/* OUR SERVICES */

.section-services{
    background-color: #f2f2f2;
}

.services-title{
    padding: 63px 23px 21px 40px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 30px;
    color: #666d89;
    letter-spacing: -0.2px;
}

.services-description{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #666d89;
    line-height: 30px;
    padding: 0 23px 46px 40px;
}

.services-description p{
    text-align: justify;
}

.services-content{
    display: flex;
    flex-wrap: wrap;
    margin-right: 3px;
    margin-left: 30px;
 }

.services-item{
display: flex;
width: 300px;
margin: 0 7px 33px 11px;
text-align: justify; 
}

.services-item img{
   display: inline-block;
   width: 59px;
   height: 59px;
}

.services-item-content{
margin-left: 21px;
}

.services-item-title{
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 9px;
    color: #666d89;
}

.services-item-text{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #666d89;
    line-height: 21px;
    word-spacing: 4px;
    overflow: hidden;
}

